a{
    text-decoration: none;
    color: white;
  }
  
  .barraNav{
    background-color: red;
    transition: all 2s;
  }
  
  
  .barraNav-lista{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    transition: all 2s;
  }
  
  .textoHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 50%;
    display: inline-block;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
  }
  
  .logoPag{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 1%;
    width: 300px;
    height: 100px;
    float: left;
  }
  /* INDEX */
  body{
    background-color: rgb(23, 23, 23);
    font-family: 'League Spartan', sans-serif;
  }
  
  .textoMain{
    color: white;
  }
  
  .primerTit{
    text-align: center;
    font-size: 25px;
  }
  
  .primerTex{
    text-align: center;
    font-size: 20px;
  }
  
.carousel-item{
  height: 350px;
  width: 50vw;
  margin-left: 25%;
}

.segundoTit{
    text-align: center;
    font-size: 25px;
}

.segundoTex{
    text-align: center;
    font-size: 20px;
}

/* QUIENES-SOMOS */
.textoQS{
  color: white;
  text-align: center;
  margin-top: 10%;
}

/* GALERIA */
.textoMusculacion{
  text-align: center;
}

.imagenMusculacion{
  margin-left: 70vh;
  width: 500px;
  height: 140px;
}

.textoCardio{
  text-align: center;
}

.imagenCardio{
  margin-left: 70vh;
  width: 500px;
  height: 140px;
}

.textoVestuario{
  text-align: center;
}

.imagenVestuario{
  margin-left: 70vh;
  width: 500px;
  height: 140px;
}

/* PRECIOS */
.tituloTabla{
  color: white;
  text-align: center;
  font-size: 30px;
}

.tablaPrecios{
  color: white;
  border-color: rgb(221,20,26);
  margin-left: 30%;
  height: 40vh;
  width: 40vw;
}

.turnoTabla{
  background-color: rgb(42, 41, 42);
  text-align: center;
}

.precioTabla{
  background-color: rgb(61, 60, 61);
  text-align: center;
}

.textoTabla{
  color: white;
  text-align: center;
  font-size: 20px;
}

/* CONTACTO */
.textoMapa{
  color: white;
  font-size: 20px;
  text-align: center;
}

.mapa{
  width: 35vw;
  height: 25vh;
  margin-left: 32%;
}

.formulario{
  color: white;
  font-size: 20px;
  text-align: center;
}

/* FOOTER */
.footer{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 41, 42);
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 10px 0px;
    text-align: center;
    flex-direction: row;
    list-style: none;
  }
  
  .textoFooter{
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    list-style: none;
  } 
  
.ulFooter{
  list-style: none;
  display: flex;
  justify-content: center;
}

  .fa-brands{
    list-style: none;
  }
  
  i{
    font-size: 35px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
  }